html {
  /* background-image: linear-gradient(to top left, rgb(183, 204, 233), rgb(0, 0, 0));
  background-image: linear-gradient(to top left, rgb(183, 204, 233), white); */
  background-color: white;
}
.App {
  text-align: center;
}

